/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* index page */ 
html, body{
	position: relative;
}
.container{
	width: 880px;
	margin: 0 auto;
}
.upper-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}
.upper-nav a.first-item{
	margin-left: 0px;
	padding-left: 0px;
}
.upper-nav a{
	margin: 5px;
	height: auto;
	padding: 25px 15px;
	font-size: 14px;
	color: silver;
	display: block;
	text-decoration: none;
}
h2{
	font-size: 28px;
	font-style: bold;
	padding: 15px;
}
.services h2{
	padding: 0px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.services p{
	padding-bottom: 40px;
	border-bottom: 1px solid black;
}

.columns{
	display: flex;
	width: inherit;
	margin-top: 30px;
	margin-bottom: 30px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	border-bottom: 2px solid black;
}
.columns > div {
	width: 417px;
	height: 240px;
	padding: 20px; 
	margin-bottom: 40px;
	border: 1px solid black;
	background-color: #F4F3F4;
}
.learn {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 40px;
	padding: 15px;
	color: black;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 5px;
	width: 150px;
	height: 30px;
	font-size: 14px;	
}
h6 a{ 
	background-color: none;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 12.5px;
}
.bottom-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	align-items: baseline;
}
.text h3{
	font-weight: 700;
}
.text > p {
	width: 100%;
	line-height: 1.3em;
	font-weight: 400;
	padding-bottom: 25px;
	margin-right: 0px;
}

.only-list{
	list-style: square inside none;
}
.only-list > li {
	padding-bottom: 10px;
}
.info-services{
	width: 420px;
	margin: auto;
}
footer {
	width: inherit;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
/* .container header nav {
	padding: 20px 10px;
	margin: 0 20px;
}
.container header nav div{
	display: inline-block;
}
.container header nav a{
	font-size: 75%;
	padding: 20px 7px;
	margin: 15px;
	display: inline-block;
	color: gray;
	text-decoration: none;
	height: 30px;
} */
.mid-container{
	display: table;
	padding: 10px;
	padding-bottom: 60px;
	margin: 15px auto;
	border-collapse: separate;
	border-spacing: 10px;
	border-bottom: 1px solid black;
}
.lofi{
	display: table-cell;
	text-align: center;
	vertical-align: middle
	
}
.column1, .column2 {
	padding-left: 30px;
	padding-right: 30px;
}
.column1 h2{
	text-align: center;
	display: table-cell;
	font-size: 64px;
	vertical-align: middle;
	
}
.column2 img{
	display: table-cell;
	text-align: right;
	vertical-align: top;
	align: top;
}

.first-text{
	column-count: 2;
}
.upper-column{
	padding: 40px 25px;
}
.middle-img{
	margin-left: auto;
	margin-right: auto;
}
.second-text{
	column-count: 3;
	border-bottom: 1px solid black;
}
.bottom-column{
	padding: 40px 25px;
}
address{
	float: left;
	padding: 30px;
	display: inline;
	position: relative;
}
footer{
	padding: 30px;
	position: absolute;
}
.ideas {
	
	margin: 0 auto;
	width: 142px;
}

/* services page */
